<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Curso Spring Boot con Formularios en Thymeleaf</title>
<!--  
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
-->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<section th:replace="componentes/cabecera :: interceptor"></section>
	<div class="container">
		<div class="card mt-3 mb-3">
			<div class="card-body">
				<form th:action="@{/form}" th:object="${usuario}" method="post">
					<h2 th:text="${titulo}"></h2>
					<hr />
					<div class="form-group row">
						<label class="col-sm-3">Habilitar :</label>
						<div class="col-sm-9">
							<div class="form-check">
								<input name="habilitar" type="checkbox" th:field="*{habilitar}"
									class="form-check-input" />
							</div>
						</div>
						<label th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
							style="color: red;"></label>
					</div>
					<fieldset class="form-group">
						<div class="row">
							<label class="col-form-label col-sm-3 pt-0">Género :</label>
							<div class="col-sm-9">
								<div th:each="gen: ${genero}" class="form-check">
									<input name="genero" type="radio" th:field="*{genero}"
										th:value="${gen}" class="form-check-input" /> <label
										th:for="${#ids.prev('genero')}" th:text="${gen}"
										class="form-check-label"></label>
								</div>
							</div>
							<label th:if="${#fields.hasErrors('genero')}"
								th:errors="*{genero}" style="color: red;"></label>
						</div>
					</fieldset>
					<div class="form-group row">
						<label for="ciudad" class="col-sm-3 col-form-label">Ciudad
							:</label>
						<div class="col-sm-9">
							<select id="ciudad" name="ciudad" th:field="*{ciudad}"
								class="form-control">
								<option value="">--seleccionar--</option>
								<!-- <option th:each="ciudad: ${ciudades}" th:text="${ciudad}" th:value="${ciudad}"></option> -->
								<!-- <option th:each="ciudad: ${ciudadesMap.entrySet()}" th:text="${ciudad.value}" th:value="${ciudad.key}"></option> -->
								<option th:each="ciudad: ${ciudadesModel}"
									th:text="${ciudad.nombre}" th:value="${ciudad.id}"></option>
							</select>
						</div>
						<label th:if="${#fields.hasErrors('ciudad')}"
							th:errors="*{ciudad}" style="color: red;"></label>
					</div>
					<div class="form-group row">
						<label class="col-sm-3">Roles :</label>
						<div class="col-sm-9">
							<div th:each="rol: ${listaRoles}" class="form-check">
								<input name="roles" type="checkbox" th:field="*{roles}"
									th:value="${rol.id}"
									th:checked="${#lists.contains(usuario.roles, rol)}"
									class="form-check-input" /> <label
									th:for="${#ids.prev('roles')}" th:text="${rol.nombre}"
									class="form-check-label"></label>
							</div>
						</div>
						<label th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
							style="color: red;"></label>
					</div>
					<div class="form-group row">
						<label for="identificador" class="col-sm-3 col-form-label">Identificador
							:</label>
						<div class="col-sm-9">
							<input id="identificador" name="identificador" type="text"
								th:field="*{identificador}" class="form-control" />
						</div>
						<label th:if="${#fields.hasErrors('identificador')}"
							th:errors="*{identificador}" style="color: red;"></label>
					</div>
					<div class="form-group row">
						<label for="nombre" class="col-sm-3 col-form-label">Nombre
							:</label>
						<div class="col-sm-9">
							<input id="nombre" name="nombre" type="text" th:field="*{nombre}"
								class="form-control" />
						</div>
						<label th:if="${#fields.hasErrors('nombre')}"
							th:errors="*{nombre}" style="color: red;"></label>
					</div>
					<div class="form-group row">
						<label for="apellido" class="col-sm-3 col-form-label">Apellido
							:</label>
						<div class="col-sm-9">
							<input id="apellido" name="apellido" type="text"
								th:field="*{apellido}" class="form-control" />
						</div>
						<label th:if="${#fields.hasErrors('apellido')}"
							th:errors="*{apellido}" style="color: red;"></label>
					</div>
					<div class="form-group row">
						<label for="username" class="col-sm-3 col-form-label">Usuario
							:</label>
						<div class="col-sm-9">
							<!-- <input id="username" name="username" type="text" th:value="${usuario.username}" /> -->
							<input id="username" name="username" type="text"
								th:field="*{username}" class="form-control" />
						</div>
						<!-- <label th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></label> -->
						<label th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}" style="color: red;"></label>
					</div>
					<div class="form-group row">
						<label for="password" class="col-sm-3 col-form-label">Contraseña
							:</label>
						<div class="col-sm-9">
							<!-- <input id="password" name="password" type="password" th:value="${usuario.password}" /> -->
							<input id="password" name="password" type="password"
								th:field="*{password}" class="form-control" />
						</div>
						<!-- <label th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></label> -->
						<label th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}" style="color: red;"></label>
					</div>
					<div class="form-group row">
						<label for="email" class="col-sm-3 col-form-label">Correo
							:</label>
						<div class="col-sm-9">
							<!-- <input id="email" name="email" type="text"  th:value="${usuario.email}"/> -->
							<input id="email" name="email" type="text" th:field="*{email}"
								class="form-control" />
						</div>
						<!-- <label th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></label> -->
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							style="color: red;"></label>
					</div>
					<div class="form-group row">
						<label for="edad" class="col-sm-3 col-form-label">Edad :</label>
						<div class="col-sm-9">
							<input id="edad" name="edad" type="number" th:field="*{edad}"
								class="form-control" />
						</div>
						<label th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"
							style="color: red;"></label>
					</div>
					<div class="form-group row">
						<label for="fechaNac" class="col-sm-3 col-form-label">Fecha
							Nacimiento :</label>
						<div class="col-sm-9">
							<!-- <input id="fechaNac" name="fechaNac" type="text" th:field="*{fechaNac}" placeholder="yyyy/MM/dd" /> -->
							<input id="fechaNac" name="fechaNac" type="date"
								th:field="*{fechaNac}" class="form-control" />
						</div>
						<label th:if="${#fields.hasErrors('fechaNac')}"
							th:errors="*{fechaNac}" style="color: red;"></label>
					</div>
					<input type="hidden" th:field="*{valorSecreto}">
					<div class="form-group">
						<button type="submit" class="btn btn-success btn-block">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

</body>
</html>